<!-- 42 -->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="noindex, nofollow" />

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">
  
  <title>{{title}}</title>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
  {{> head_scripts}}
</head>

<body>
  <div class="d-flex flex-column align-self-stretch min-vh-100">
    <div id="body" class="flex-fill">
      {{> body}}
    </div>
    <div class="mt-auto">
      <div class="container-fluid">
        <div class="row mt-3 mb-3">
          <div class="col text-center">
            <small>© {{year}} {{ company }}, v{{version}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {{> body_scripts }}
</body>
