{{#> main_layout}}
  {{#*inline "head_scripts"}}
  {{/inline}}

  {{#*inline "body"}}
    <div class="container-fluid">
      <div class="row mt-2">
        <div class="col text-center">
          <a href="/"><img src="/images/logo-sm.png" class="img-fluid"></a>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col text-center">
          <h1>Shares</h1>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col text-center">
          <h3>Files shared with me</h3>
          <p>(files)</p>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col text-center">
          <h3>Files I've shared</h3>
          <p>(files)</p>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "body_scripts"}}
  {{/inline}}
{{/main_layout}}
